html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #09283f, #7aa6ca);
    background-repeat: no-repeat;
}

#currentWeather {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(29, 66, 109);
    border-radius: 5px;
    transition: 0.3s;
    border-top: 2px solid rgb(1, 64, 146);
    border-left: 2px solid rgb(1, 64, 146);
    border-right: 2px solid rgb(1, 64, 146);
    border-bottom: 2px solid rgb(1, 64, 146);
    padding: 50px;
    color: white;
    opacity: 80%;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

#currentWeather:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#searchBar {
    position: absolute;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    left: 70px;
}

#userLocationButton {
    position: absolute;
    top: 0px;
    right: -50px;
}

#toggleButton {
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    left: 80px;
}
